@media screen and (min-width:360px){
    #input_screen {
        padding: 20px;
        width: 320px;
    }
    #select > ul {
        margin: 0 auto;
        padding: 0;
        width: 300px;
        list-style: none;
        
    }
    #select > ul > li {
        background-color: #ccc;
        padding: 4px;
        margin: 10px auto;
        width: 232px;
        text-align: center;
        /* box-shadow: 4px 4px #ccc; */
    }
    #select > ul > li > p {
        font-size: 14px;
        margin: 2px;
    }
    .count {
        margin: 0 auto;
        width: 40px;
        display: flex;
        flex-direction: row;
    }
    select {
        height: 24px;
        width: 38px;
    }
    .count-btn {
        height: 24px;
        width: 24px;
    }
    .num {
        width: 36px;
    }
    .btn {
        margin: 6px auto;
        font-size: 12px;
        width: 125px;
    }
    #cal {
        height: 24px;
        width: 50px;
    }
    #set {
        height: 24px;
        width: 70px;
    }
    #disp {
        margin: 0 auto;
        width: 240px;
    }
    #result {
        overflow-y: scroll;
        background-color: #ccc;
        width: 240px;
        height: 160px;
        /* box-shadow: 4px 4px #ccc; */
    }
    .content {
        height: 1040px;
    }
}

@media screen and (min-width:960px){
    #input_screen {
        padding: 20px;
        width: 920px;
    }
    #select > ul {
        margin: 0;
        padding: 0;
        width: 920px;
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    #select > ul > li {
        background-color: #ccc;
        padding: 4px;
        margin: 10px;
        width: 432px;
        text-align: center;
        /* box-shadow: 4px 4px #ccc; */
    }
    #select > ul > li > p {
        font-size: 20px;
        margin: 2px;
    }
    .count {
        margin: 0 auto;
        width: 40px;
        display: flex;
        flex-direction: row;
    }
    select {
        height: 24px;
        width: 38px;
    }
    .count-btn {
        height: 24px;
        width: 24px;
    }
    .num {
        width: 36px;
    }
    .btn {
        margin: 6px auto;
        font-size: 12px;
        width: 125px;
    }
    #cal {
        height: 24px;
        width: 50px;
    }
    #set {
        height: 24px;
        width: 70px;
    }
    #disp {
        margin: 0 auto;
        width: 480px;
    }
    #result {
        overflow-y: scroll;
        background-color: #ccc;
        margin: 6px;
        width: 468px;
        height: 160px;
        /* box-shadow: 4px 4px #ccc; */
    }
    .content {
        height: 820px;
    }
}
