* {
    margin: 0;
    padding: 0;
}

body{
  background-color: #fff;
}
header{
  height: 150px;
}

main{

}

footer{
  background-color: #000;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
}

#header_logo{
  background-color: #000;
  height: 100px;
  width: 100%;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  border-bottom: 1px solid #fff;
}

nav{
  background-color: #000;
}

nav ul{
  list-style: none;
  margin-left:80%;
}

nav li{
  float: left;
}

nav ul::after{
  content: "";
  display: block;
  clear: both;
}

nav li:hover{
	opacity: 0.8;
}

nav a{
	display: block;
	text-decoration: none;
	color: #fff;
}

#header_list1{
  padding-right: 20px;
}

.tab_item{
  width: 80px;
  text-align: center;
}

#content {
    margin: 0 auto;
    height: 760px;
    width: 960px;
}
#input_screen {
    padding: 20px;
    width: 920px;
}
#select {
    display: flex;
    flex-direction: row;
}
#select > ul {
    margin: 0;
    padding: 0;
    width: 480px;
    list-style: none;
}
#select > ul > li {
    background-color: #d3d3d3;
    padding: 4px;
    margin: 12px;
    text-align: center;
    box-shadow: 4px 4px #ccc;
}
#select > ul > li > p {
    font-size: 20px;
    margin: 2px;
}
.count {
    margin: 0 auto;
    width: 40px;
    display: flex;
    flex-direction: row;
}
select {
    height: 24px;
    width: 38px;
}
.count-btn {
    height: 24px;
    width: 24px;
}
.num {
    width: 36px;
}
.btn {
    margin: 6px auto;
    font-size: 12px;
    width: 125px;
}
#cal {
    height: 24px;
    width: 50px;
}
#set {
    height: 24px;
    width: 70px;
}
#disp {
    margin: 0 auto;
    width: 480px;
}
#result {
    overflow-y: scroll;
    background-color: #d3d3d3;
    margin: 6px;
    height: 160px;
    box-shadow: 4px 4px #ccc;
}
